<div class="card">
    <h2>Formulario de solicitud de documentos</h2>
    <hr>
</div>

<div class="card">
    <div class="ui-g ui-fluid">
        <div class="card card-w-title">
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-8">
                    <input type="text" required pInputText placeholder="Cedula">
                </div>
                <div class="ui-g-12 ui-md-4">
                <p-button   label="Buscar" class="p-button-outlined" icon="pi pi-search" styleClass="ui-button-success"></p-button>
                </div>
                <br>
                <br>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input" >Cedula :</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
                        <input type="text" required pInputText disabled>
                </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input" >Nombres y Apellidos:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
                    <input type="text" required pInputText disabled>
               </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input" >Tipo de Documento:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
                        <p-dropdown optionLabel="name" placeholder="TIPO DOCUMENTO"></p-dropdown>
                    </div>
                </div>
            
                <br>
    
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Fecha de registro:</label>
                </div>
    
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
    
                        <input type="text" required pInputText placeholder="Fecha de registro ">
                        <span class="p-inputgroup-addon"></span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Referencias:</label>
                </div>
    
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
         
    
                        <input type="text" pInputText placeholder="Referencias">
                        <span class="p-inputgroup-addon"></span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Valor:</label>
                </div>
    
                <div class="ui-g-12 ui-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"></span>
    
                        <input type="number" pInputText placeholder="0,0" disabled>
                        <span class="p-inputgroup-addon"></span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 ui-md-12">
                    <label for="input">Descripcion:</label>
                </div>
    
                <div class="ui-g-12 ui-md-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"></span>
    
                        <textarea id="address" type="text" rows="4" pInputTextarea placeholder="Descripcion"></textarea>
                        <span class="p-inputgroup-addon"></span>
                    </div>
                </div>
                <br>
    
    
                <br>
                <p-button   label="Generar Comprobante" class="p-button-outlined" icon="pi pi-print" styleClass="ui-button-success"></p-button>
                </div>
        </div>
    </div>
</div>
