<div class="ui-g ui-fluid">
    <div class="card card-w-title">
        <h2>Formulario de solicitud de documentos</h2>
        <hr>
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label for="input" >Tipo de Documento:</label>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">

                    <p-dropdown optionLabel="name" placeholder="TIPO DOCUMENTO"></p-dropdown>
                </div>
            </div>
        
            <br>

            <div class="ui-g-12 ui-md-2">
                <label for="input">Fecha de registro:</label>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">

                    <input type="text" required pInputText placeholder="Fecha de registro ">
                    <span class="p-inputgroup-addon"></span>
                </div>
            </div>
            <br>
            <div class="ui-g-12 ui-md-2">
                <label for="input">Referencias:</label>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
     

                    <input type="text" pInputText placeholder="Referencias">
                    <span class="p-inputgroup-addon"></span>
                </div>
            </div>
            <br>
            <div class="ui-g-12 ui-md-2">
                <label for="input">Valor:</label>
            </div>

            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"></span>

                    <input type="number" pInputText placeholder="0,0" disabled>
                    <span class="p-inputgroup-addon"></span>
                </div>
            </div>
            <br>
            <div class="ui-g-12 ui-md-12">
                <label for="input">Descripcion:</label>
            </div>

            <div class="ui-g-12 ui-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"></span>

                    <textarea id="address" type="text" rows="4" pInputTextarea placeholder="Descripcion"></textarea>
                    <span class="p-inputgroup-addon"></span>
                </div>
            </div>
            <br>


            <br>
            <button  pButton label="Generar certificado" class="p-button-outlined" icon="pi pi-filter-slash"></button>
        </div>
    </div>
</div>