
<div class="card">
    <h2>Creacion de documentos</h2><hr>
    
    <div class="card">
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    
                    <input type="text" pInputText placeholder="Nombre Documento">   
                    <span class="p-inputgroup-addon"></span>      
                </div>
            </div>
            <br>
            
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"></span>
                    
                    <textarea id="address" type="text" rows="4" pInputTextarea placeholder="Descripcion"></textarea>     
                    <span class="p-inputgroup-addon"></span> 
                </div>
            </div>
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    
                    <input type="number" pInputText placeholder="Valor">   
                    <span class="p-inputgroup-addon"></span>      
                </div>
            </div> 
            <br>   
            <br>
            <button pButton label="Guardar documento" class="p-button-outlined" icon="pi pi-filter-slash" ></button>
                 
        </div>
    </div>

</div>

    