
<div class="card">
    <h1>Creacion de documentos</h1>
    
   
    <div class="p-inputgroup">
        <span class="p-float-label">
            <label for="float-input">Nombre</label>
            <input id="float-input" type="text" pInputText> 
            
        </span>  
    </div>
    <div class="p-inputgroup">
    
        <span class="p-float-label">
            <label for="float-input">Descripcion</label>
            <textarea pInputTextarea> </textarea>
            
        </span>    
    </div>
    <p-dropdown  formControlName="Seleccionar servicio"></p-dropdown>
    </div>
    