

<div class="card">
    <h2>Administracion de Documentos </h2><hr>
    <br>
    <h5>Usuarios Registrados</h5><hr>
    
    <p-table #dt1 [value]="documentospersonas" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="lista de personas con documentos"
        [globalFilterFields]="['id','nombre','apellido']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Cedula 
                      
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nombre 
                       
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Apellido 
                        
                    </div>
                </th>
                
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Crear documento
                        
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentosp>
            <tr>
                <td>
                    {{documentosp.id}}
                </td>
                <td>
                   {{documentosp.nombre}}
                </td>
                <td>
                   {{documentosp.apellido}}
                </td>
               
                <td>
                  
                    <p-button icon="pi pi-plus"[routerLink]="['/modulosp/administrar/documentopersonascrear']"  label="Agregar" styleClass="ui-button-success"></p-button>
            
                </td>       
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>