
<div class="ui-g ui-fluid">
    <h2>Creacion de Documentos</h2><hr>
    
    <div class="card card-w-title">
        <div class="ui-g form-group ">
            <div class="ui-g-12 ui-md-2">
                <label for="input" >Tipo de Documento:</label>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
                    <p-dropdown  optionLabel="name" placeholder="TIPO DOCUMENTO"></p-dropdown>   
                </div>
            </div>
            <br>
            <div class="ui-g-12 ui-md-2">
                <label for="input" >Nombre del libro:</label>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
                    
                    <input type="text" pInputText placeholder="Libro">   
                    <span class="p-inputgroup-addon"></span>      
                </div>
            </div>
            <br>  
            <div class="ui-g-12 ui-md-2">
                <label for="input" >Referencias:</label>
            </div>  
            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"></span>
                    
                    <input type="text" pInputText placeholder="Referencias">      
                    <span class="p-inputgroup-addon"></span> 
                </div>
            </div>
            <br>   
            <div class="ui-g-12 ui-md-2">
                <label for="input" >Fecha de registro:</label>
            </div> 
            <div class="ui-g-12 ui-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"></span>
                    
           
                    <input type="text" pInputText placeholder="Fecha Registro">      
                    <span class="p-inputgroup-addon"></span> 
                </div>
            </div>
            <div class="ui-g-12">

                <button pButton label="Agregar documentos" class="p-button-outlined" icon="pi pi-filter-slash" [routerLink]="['/modulosp/administrar/documentopersonascrear']"></button>

            </div>
                 
        </div>
    </div>

</div>
<hr>



<div class="card">
    <h5>Documentos Registrados</h5>
    <p-table #dt1 [value]="documentospersonas" dataKey="tipo_documento"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="lista de personas con documentos"
        [globalFilterFields]="['id','tipo_documento','libro_nombre','referencia']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Id 
                      
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Documento
                       
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Libro
                        
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Referencia
                        
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Eliminar
                        
                    </div>
                </th>
 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documentosp>
            <tr>
                <td>
                    {{documentosp.id}}
                </td>
                <td>
                   {{documentosp.tipo_documento}}
                </td>
                <td>
                   {{documentosp.libro_nombre}}
                </td>
                <td>
                    {{documentosp.referencia}}
                </td> 
                <td>
                    <button pButton label="Eliminar" class="p-button-outlined" icon="pi pi-filter-slash" [routerLink]="['/modulosp/administrar/documentopersonascrear']"></button>
            
                </td>        
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>