<div class="card card-w-title">
    <h2>Bienvenidos al centro de administracion de Servicios</h2>
    <hr>
    <div>
        <p-button icon="pi pi-plus" (click)="showDialog()" label="Agregar"
            styleClass="ui-button-success"></p-button>

    </div>
    <br>
    <p-table [value]="servicios">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-servicio>
            <tr>
                <td>{{servicio.id}}</td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td> <p-button icon="pi pi-pencil" styleClass="ui-button-warning"  label="Editar"></p-button></td>
                <td> <p-button icon="pi pi-trash"  styleClass="ui-button-danger"  label="Eliminar"></p-button></td>
            </tr>

        </ng-template>
    </p-table>
    <p-dialog header="Ingresar nuevo tipo de Eucarístia" [(visible)]="dis" [modal]="true" [style]="{width: '30vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <form [formGroup]="addForm2">

            <div class="ui-g ui-fluid">
                <div class="ui-g form-group ">
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Sevicio Pastoral</label>
                    </div>

                    <div class="ui-g-12 ui-md-8">
                        <input pInputText class="input name" type="text" formControlName="tipe_serviciop"
                        name="tipe_serviciop" id="tipe_serviciop">
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Descripcion</label><br>
                    </div>
                    <div class="ui-g-12 ui-md-8">

                        <textarea id="tipe_descripcion" name="tipe_descripcion" formControlName="tipe_descripcion"
                            type="text" rows="4" pInputTextarea placeholder="Descripcion"></textarea>
                    </div>


                    <div class="ui-g-12">
                        <p-button icon="pi pi-save" stileClass="ui-button-info" label="Guardar"></p-button>
                    </div>
                    <br><br>

                </div>
            </div>



        </form>
        <p-footer>
            <p-button  icon="pi pi-times" (click)="dis=false" label="Cancelar"
                styleClass="ui-button-secondary"></p-button>
        </p-footer>
    </p-dialog>
</div>