<div class="card">
    <h2>Agregar Tipos de Documentos</h2>
    <hr>
    <p-button icon="pi pi-plus" (click)="showDialog()" label="Agregar"
            styleClass="ui-button-success"></p-button>
    <br>
    <br>
    <p-table [value]="documentos">
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>libro</th>
                <th>referencia </th>
                <th>valor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documento>
            <tr>
                <td>{{documento.id}}</td>
                <td>{{documento.nombre}}</td>
                <td>{{documento.libro}}</td>
                <td>{{documento.referencia}}</td>
                <td>{{documento.valor}}</td>
                <td> <p-button icon="pi pi-pencil" styleClass="ui-button-warning"  label="Editar"></p-button></td>
                <td> <p-button icon="pi pi-trash"  styleClass="ui-button-danger"  label="Eliminar"></p-button></td> </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Creacion de documentos" [(visible)]="dis" [modal]="true" [style]="{width: '30vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <form [formGroup]="addForm2">
            <div class="ui-g ui-fluid">
                <div class="ui-g form-group ">
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Tipo Servicio</label><br>
                    </div>
                    <div class="ui-g-12 ui-md-8">

                        <p-dropdown id="tipe_nomdoc" name="tipe_nomdoc" formControlName="tipe_nomdoc"
                            [options]="inscripciones" [(ngModel)]="tipo" [filter]="true" optionLabel=""></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Nombre Documento</label><br>
                    </div>
                    <div class="ui-g-12 ui-md-8">

                        <input type="text" pInputText placeholder="Nombre">
                        <span class="p-inputgroup-addon"></span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Descripcion</label><br>
                    </div>
                    <div class="ui-g-12 ui-md-8">

                        <textarea id="tipe_descripcion" name="tipe_descripcion" formControlName="tipe_descripcion"
                            type="text" rows="4" pInputTextarea placeholder="Descripcion"></textarea>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label for="input">Valor</label><br>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <input id="tipe_valor" name="tipe_valor" tipe_valor="tipe_valor" type="number" pInputText
                            placeholder="Valor">
                    </div>
                    <div class="ui-g-12">
                        <p-button icon="pi pi-save" stileClass="ui-button-info" label="Guardar"></p-button>
                     </div>

                </div>
            </div>
        </form>
        <p-footer>
            <p-button  icon="pi pi-times" (click)="dis=false" label="Cancelar"
                styleClass="ui-button-secondary"></p-button>
        </p-footer>
    </p-dialog>
</div>